body {
    text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
    /* margin-left: 20px;
    margin-right: 20px; */

    /* margin-left: auto;
    margin-right: auto; */
    width: 80%;
    background: rgba(74, 200, 235, 0.568);
}


table {
    border-collapse: collapse;
    border-style: hidden;
    /* table-layout: auto; */
}

/* table td.outerCell { */
#mainBrd > tr > td {
    border: 5px solid black;
    padding: 8px;
}

table td.innerCell {
    border: 2px solid rgb(228, 4, 4);
    padding: 5px;
}

td.innerCell,
.scrTbl td {
    width: 25px;
    height: 25px;
}

table.scrTbl * {
    border: 2px solid black;
}

section,
aside {
    background: rgba(255, 255, 255, 0.548);
    border-radius: 6px;
    margin: 25px;
    padding: 25px;;
}

section {
    float: right;
    /* width: 60%; */
}

aside {    
    float: right;
    /* width: 15%; */
    /* margin: 15px; */
}
